# Coverage
coverage

# Bibliotecas do Node.JS
node_modules

# Bancos de Dados SQLite
src/database/db.sqlite
src/database/test.sqlite

# Segredo de Autenticação
config/auth.json

# Variáveis de Ambiente
.env

# Procfile
Procfile
